.Foot {
    background: #ad5389;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #3c1053, #ad5389);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #3c1053, #ad5389);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    display: flex;
    text-align: center;
    justify-content: center;
    padding: 50px;
    color: #fff;
}